# This is a basic workflow to help you get started with Actions

name: Security Pipeline

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      - name: Gitleaks Scan
        run: |
          docker run --rm -v ${{ github.workspace }}:/path \
            zricethezav/gitleaks:latest detect --source="/path" -v

  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Semgrep Scan
        run: |
          docker run --rm -v ${{ github.workspace }}:/src \
            semgrep/semgrep semgrep scan --config auto

  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hadolint Scan
        run: |
          docker run --rm -i hadolint/hadolint < Dockerfile

  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Trivy Scan
        run: |
          docker run --rm -v ${{ github.workspace }}:/src \
            aquasecurity/trivy:latest fs /src --severity HIGH,CRITICAL