# This is a basic workflow to help you get started with Actions

name: Security Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  security-scans:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tool: [ "gitleaks", "semgrep", "hadolint", "trivy" ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
           
      - name: Gitleaks Scan
        if: matrix.tool == 'gitleaks'
        run: |
          docker run --rm -v ${{ github.workspace }}:/path \
            zricethezav/gitleaks:latest detect --source="/path" -v

      - name: Semgrep Scan
        if: matrix.tool == 'semgrep'
        run: |
          docker run --rm -v ${{ github.workspace }}:/src \
            semgrep/semgrep semgrep scan --config auto
      
      - name: Hadolint Scan
        if: matrix.tool == 'hadolint'
        run: |
          docker run --rm -i hadolint/hadolint < Dockerfile
      
      - name: Trivy Scan
        if: matrix.tool == 'trivy'
        run: |
          docker run --rm -v ${{ github.workspace }}:/src \
           ghcr.io/aquasecurity/trivy:latest fs /src --severity HIGH,CRITICAL
  build-and-push:
    runs-on: ubuntu-latest
    needs: security-scans
    env:
      REGISTRY: ${{ secrets.REGISTRY }}
      IMAGE_NAME: ${{ secrets.HARBOR_PROJECT }}/simple-app
      ALB_IP: ${{ secrets.ALB_IP }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Apontamento URL aws #preciso por causa dominio ficticio
        run: |
          echo "${{ env.ALB_IP }} harbor.lab.aws" | sudo tee -a /etc/hosts
          echo "${{ env.ALB_IP }} argocd.lab.aws" | sudo tee -a /etc/hosts

          echo "{\"insecure-registries\": [\"harbor.lab.aws\", \"harbor.lab.aws:80\"]}" | sudo tee /etc/docker/daemon.json

          sudo systemctl restart docker
      - name: Login no Harbor
        run: |
          echo "${{ secrets.HARBOR_PASSWORD }}" | sudo docker login http://${{ env.REGISTRY }}:80 \
            -u "${{ secrets.HARBOR_USERNAME }}" --password-stdin

      - name: Build Imagem Docker
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} \
                       -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest .

      - name: Trivy Image Scan (after-build)
        run: |
          docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
            ghcr.io/aquasecurity/trivy:0.58.2 image ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} \
            --severity HIGH,CRITICAL --exit-code 1
      
      - name: Push para o Harbor
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

  update-gitops-manifests:
    runs-on: ubuntu-latest
    needs: build-and-push
    env:
      REPOSITORY: ${{ secrets.REPOSITORY }}
    steps:
      - name: Checkout GitOps Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ env.REPOSITORY }}
          token: ${{ secrets.GITOPS_GITHUB_TOKEN }}
          path: gitops-repo

      - name: Update Image Tag in values.yaml
        run: |
          sed -i "s/tag: .*/tag: \"${{ github.sha }}\"/" gitops-repo/charts/simple-app/values.yaml

      - name: Commit and Push changes
        run: |
          cd gitops-repo
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add charts/simple-app/values.yaml
          git commit -m "feat: update image tag to ${{ github.sha }} [skip ci]"
          git push